<template>
  <div>
    <header-bar/>
    <router-view/>
    <footer-bar/>
  </div>
</template>

<script>
import HeaderBar from '@/app/system/layout/header-bar';
import FooterBar from '@/app/system/layout/footer-bar';

export default {
  name:       'default',
  components: {FooterBar, HeaderBar}
}
</script>
